.navbar-app {
  justify-content: space-between;
  background: white;
}

.navbar-app a{
	color: black;
	font-weight: lighter;
}

.navbar-app a:hover{
	font-weight: 350;
}


.navbar-app .navbar-collapse {
  flex-grow: 0;
  text-align: center;
}

.logo {
	height: 60px;
}

.navbar-toggler-icon {
	color: black;
}

.signup {
    padding: 8px 24px;
    border: 1px solid #28df99;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.signup:hover {
	background-color: #28df99;
  color:white;
}